body{
    font-family: 'Spline Sans', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 35px;
}
.n-color{
    color: orangered;
}
.t-color{
    color: tomato;
}
.flex-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
}
.button{
    text-decoration: none;
    color: white;
    font-weight: 800;
    background-image: linear-gradient(tomato,orange);
    background-color: orangered;
    padding: 10px 40px;
    border-radius: 10px;
}
.first-page{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.sec-page{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.third-page{
    margin-bottom: 50px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.exper-item{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow:10px 10px 10px 10px rgb(152, 163, 130);
    padding: 25px;
    border-radius: 10px;
}
#full{
    border-left: 8px solid;
    border-image: linear-gradient(rgb(221, 38, 6),rgb(235, 217, 135));
    border-image-slice: 1;
}
#baby{
    border-left: 8px solid;
    border-image: linear-gradient(rgb(12, 187, 64),skyblue);
    border-image-slice: 1; 
}
footer{
    text-align: center;
    margin-bottom: 50px;
}